---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Københavnerbilleder">
	<article class="mx-4 lg:mx-24">
		<section id="top" class="lg:justify-center lg:gap-x-12 lg:grid lg:grid-cols-2">
			<div class="max-w-[768px] lg:max-w-full min-h-[320px] overflow-hidden mb-4">
				<img src="/kobenhavnerbilleder-sten-simons.webp" alt="img" class="rounded object-cover w-full h-full">
			</div>
			<div>
				<h1 class="text-xl lg:text-3xl text-red-800 font-bold mb-2 lg:mb-8">Københavnerbilleder<br/>- en guide til hipster foto</h1>
				<p class="text-base lg:text-xl text-stone-900 mb-2 lg:mb-6">af Sten Simons</p>
				<Button variant="primary" size="medium"><a href="#kapitler">Læs mere</a></Button>
			</div>
		</section>

		<section class="mt-8 lg:mt-24 mb-2 lg:mb-8 text-base lg:text-xl text-stone-900 lg:gap-x-12 lg:grid lg:grid-cols-2">
			<p class="mb-6 lg:text-right">Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion mellem et kunstværk og en lærebog.
				Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter.
				Alt sammen krydret med masser af inspirerende fotos. God læselyst!</p>

			<p>Titel: Københavnerbilleder - en guide til hipster foto<br/>
				Forfatter: Sten Simons<br/>
				Antal sider: 344<br/>
				Forlag: Mellem Linjerne<br/>
				ISBN: 987-6-987654-32-1<br/>
				Pris: 399.-
			</p>
		</section>

		<section class="mt-8 lg:mt-24 mb-2 lg:mb-8 grid grid-flow-row gap-4 lg:gap-6 lg:grid-cols-3 lg:grid-rows-1">
			<div class="min-w-[300px] min-h-[137px] overflow-hidden mb-4 lg:mb-12">
			<img src="/kobenhavnerbilleder-sten-simons.webp" alt="Forside af bogen" class="rounded object-cover w-full h-full">
			</div>
			<div class="min-w-[300px] min-h-[137px] overflow-hidden mb-4 lg:mb-12">
			<img src="/kobenhavnerbilleder_oppefra.webp" alt="Bogen oppe fra vinkel" class="rounded object-cover w-full h-full">
			</div>
			<div class="min-w-[300px] min-h-[137px] overflow-hidden mb-4 lg:mb-12">
			<img src="/kobenhavnerbilleder_aaben_venstre.webp" alt="Bogen fra en åben venstre vinkel" class="rounded object-cover w-full h-full">
			</div>
		</section>

		<section id="kapitler" class="mt-8 mb-2 lg:mt-24 lg:mb-8">
			<h2 class="text-lg lg:text-xl text-red-700 font-bold mb-2 lg:mb-6">Bogens kapitler</h2>
			<div class="lg:justify-center lg:gap-x-12 lg:grid lg:grid-cols-2">
				<div>
				<h3 class="text-base lg:text-xl lg:mb-4 text-stone-900 font-bold mb-2">Kapitel 1 - Intro til street foto</h3>
				<p class="mb-6">Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry).
					I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer.
					Alt krydret med en masse gode eksempler på street fotos.</p>
				</div>

				<div>
				<h3 class="text-base lg:text-xl lg:mb-4 text-stone-900 font-bold mb-2">Kapitel 2 - Om at skyde street</h3>
				<p class="mb-6">Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det!
					I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel,
					er der mange gode tekniske tips og tricks til street-skyderiet.</p>
				</div>
				
				<div>
				<h3 class="text-base lg:text-xl lg:mb-4 text-stone-900 font-bold mb-2">Kapitel 3 - Om at finde det rette motiv</h3>
				<p class="mb-6">Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver.
					Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver.</p>
				</div>

				<div>
				<h3 class="text-base lg:text-xl lg:mb-4 text-stone-900 font-bold mb-2">Kapitel 4 - Digital street foto</h3>
				<p class="mb-6">De fleste af os skyder oftest digitalt fordi det er billigere og nemmere.
					Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto.
					I dette kapitel får du en række tips og tricks til digital street-foto.</p>
				</div>

				<div>
				<h3 class="text-base lg:text-xl lg:mb-4 text-stone-900 font-bold mb-2">Kapitel 5 - Analog street foto</h3>
				<p class="mb-6">Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme.
					Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto.
					I dette kapitel får du en række tips og tricks til analog street-foto.</p>
				</div>

				<div>
				<h3 class="text-base lg:text-xl lg:mb-4 text-stone-900 font-bold mb-2">Kapitel 6 - Om at skyde sort/hvid</h3>
				<p class="mb-6">Alle street-fotografer skyder sort/hvid nu og da. Nogen altid.
					Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering?
					Her får du en række tips og tricks til sort/hvid fotografering.</p>
				</div>

				<div>
				<h3 class="text-base lg:text-xl lg:mb-4 text-stone-900 font-bold mb-2">Kapitel 7 - Kreative teknikker</h3>
				<p class="mb-6">Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre,
					spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde
					kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker!</p>
</div>
<div>
				<h3 class="text-base lg:text-xl lg:mb-4 text-stone-900 font-bold mb-2">Kapitel 8 - Kom helt tæt på!</h3>
				<p class="mb-6">Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker
					og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…</p>
					</div>
			</div>
		</section>

		<section class="mt-8 mb-2 lg:mt-24 lg:mb-8">
			<h2 class="text-lg lg:text-xl text-red-700 font-bold mb-2 lg:mb-6">Anmeldelser af bogen</h2>
			<div class="lg:grid lg:gap-6 lg:grid-cols-3 lg:grid-rows-1">
				<div class="mt-4 mb-6 lg:mt-12 lg:mb-18">
					<div class="flex justify-center mb-2">
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
					</div>
					<p>Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant.
						Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder,
						 er der masser af tips og tricks i bogen.<br/>
						 - Hanne Hovgaard, Berlingeren</p>
				</div>
					<div class="mt-4 mb-6 lg:mt-12 lg:mb-18">
						<div class="flex justify-center mb-2">
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
					</div>
						<p>Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man sige om en fotobog?<br/>
							- Kim Kloggaard, Fotojournalen.dk</p>
					</div>
				<div class="mt-4 mb-6 lg:mt-12 lg:mb-18">
					<div class="flex justify-center mb-2">
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(248 113 113)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-stone-500">
						<path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
						</svg>
					</div>
					<p>Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste -
						her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.”
						Tillykke - godt arbejde.<br/>
						- Volmer Hansen, Lukkertiden.dk</p>
				</div>
			</div>
		</section>

		<section class="mt-8 mb-2 lg:mt-24 lg:mb-8">
			<h3 class="text-base lg:text-xl text-stone-900 font-bold mb-2 lg:mb-6">Galleri</h3>
			<div class="lg:grid lg:gap-6 lg:grid-cols-4 lg:grid-rows-3">
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/1_orestad-til-islands-brygge-pentax-auto-110-16.webp" alt="Ørestad til Islands Brygge1" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/2_orestad-til-islands-brygge-pentax-auto-110-24.webp" alt="Ørestad til Island Brygge2" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/3_orestad-til-islands-brygge-pentax-auto-110-19.webp" alt="Ørestad til Island Brygge3" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/4_vinter-2021-med-lomo-smena-6.webp" alt="Vinter 2021-1" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/5_vinter-2021-med-lomo-smena-17.webp" alt="Vinter 2012-2" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/6__6090016.webp" alt="Bil ved havn" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/7_kbh-by-night-3.webp" alt="KBH by at night" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/8_foraar-med-et-agfa-lebox-2-20.webp" alt="foraar-med-et-ag" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/9_lomo-smena-15.webp" alt="Træer" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/10_orestad-til-islands-brygge-pentax-auto-110-14.webp" alt="Ørestad til Island Brygge4" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/11_agfa-genanvendeligt-kamera-35mm-5.webp" alt="Natur vs by" class="w-full rounded object-cover h-full mb-4">
				</div>
				<div class="min-w-[215px] min-h-[156px] overflow-hidden mb-4">
				<img src="/12__6090022.webp" alt="Urban scene" class="w-full rounded object-cover h-full mb-4">
				</div>
			</div>
		</section>

		<section id="forfatter" class="mt-8 mb-2 lg:mt-24 lg:mb-8 lg:gap-x-12 lg:grid lg:grid-cols-2 lg:items-center">
			<div>
				<h3 class="text-base lg:text-xl text-stone-900 font-bold mb-2 lg:mb-6">Forfatteren</h3>
				<div class="min-w-[291px] min-h-[212px] lg:min-w-[400px] lg:max-h-[800px] overflow-hidden mb-4 lg:mb-12 lg:rounded">
				<img src="/sten_simons.webp" alt="Billede af Sten Simons" class="w-full rounded object-cover h-full mb-4">
				</div>
			</div>
			<div>
				<p>Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne,
					da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger,
					og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”
					<b/>
					Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet
					“Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger,
					herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og lærebogen Fotografering for evnesvage.</p>
			</div>
		</section>

		<section id="formular" class="my-8 lg:my-24 text-base lg:text-xl text-stone-900 max-w-m">
			
			<form name="koeb_bog" method="post" class="grid grid-cols-1 gap-2 max-w-md mx-auto" data-netlify="true">
				<h3 class="text-base lg:text-xl text-stone-900 font-bold mb-6 lg:mb-18">Køb Københavnerbilleder nu!</h3>
				  <div class="quantity_input flex items-center justify-start rounded my-4 focus:bg-red-200">
					<label for="antal" class="mr-6">Antal:</label>
					<button id="modifier_left"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
						stroke-width="1.5" stroke="currentColor" class="size-6 shadow-sm rounded-l border-t-[1.5px] border-l-[1.5px] border-b-[1.5px] border-stone-300 h-[42px] w-8 p-1 bg-white hover:text-red-700"><path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" /></svg>
					</button>
					<!-- <input class="quantity_input_screen" type="text" value="6" readonly> -->
					<input type="number" id="antal" name="antal" readonly class="text-center border-stone-300 w-[92px] shadow-sm focus:border-red-300 focus:ring focus:ring-red-200/50"></input>

					<button id="modifier_right"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
						stroke-width="1.5" stroke="currentColor" class="size-6 shadow-sm rounded-r border-t-[1.5px] border-r-[1.5px] border-b-[1.5px] border-stone-300 h-[42px] w-8 p-1 bg-white hover:text-red-700"><path stroke-linecap="round" stroke-linejoin="round"
						d="M12 4.5v15m7.5-7.5h-15" /></svg>
					</button>
				</div>
          		<!--Copyright (c) 2024 by Mystro Ken (https://codepen.io/mystroken/pen/Moraab)-->

				<div class="flex mb-2">
					<span  class="mr-6">Levering:</span>
					<div class="flex gap-4 items-center">
						<div>
					<input type="radio" id="levering" name="levering" class="ml-2 rounded border-stone-300 shadow-sm
					focus:border-red-300 focus:ring focus:ring-red-200/50 hover:bg-red-300 focus:bg-red-700 checked:bg-red-700"></input>
					<label for="levering">PostDK</label>
						</div>
						<div>
					<input type="radio" id="levering" name="levering" class="ml-2 rounded border-stone-300 shadow-sm
					focus:border-red-300 focus:ring focus:ring-red-200/50 hover:bg-red-300 focus:bg-red-700 checked:bg-red-700"></input>
					<label class="levering" for="levering">Afhent</label>
						</div>
					</div>
				</div>

				<label for="navn">Navn:</label>
				<input type="text" id="navn" name="navn" placeholder="Navn" class="mb-2 rounded border-stone-300
				shadow-sm focus:border-red-300 focus:ring focus:ring-red-200/50"></input>

				<label for="text">Adresse:</label>
				<input type="text" id="text" name="adresse" placeholder="Adresse" class="mb-2 rounded border-stone-300
				shadow-sm focus:border-red-300 focus:ring focus:ring-red-200/50"></input>

				<label for="email">Email:</label>
				<input type="email" id="email" name="email" placeholder="E-mail" class="mb-2 rounded border-stone-300
				shadow-sm focus:border-red-300 focus:ring focus:ring-red-200/50"></input>

				
				<label for="text">Postnummer & bynavn:</label>
				<div class="flex basis-3/6 gap-4">
				<input type="text" id="text" name="postnummer" placeholder="Postnr." class="mb-2 w-[122px] rounded border-stone-300
				shadow-sm focus:border-red-300 focus:ring focus:ring-red-200/50"></input>

				<input type="text" id="text" name="bynavn" placeholder="By" class="mb-2 w-full rounded border-stone-300
				shadow-sm focus:border-red-300 focus:ring focus:ring-red-200/50"></input>
				</div>

				<label for="tel">Telefon:</label>
				<input type="tel" id="tel" name="tel" placeholder="Telefon" class="mb-2 rounded border-stone-300
				shadow-sm focus:border-red-300 focus:ring focus:ring-red-200/50"></input>

				<div class="flex gap-4 items-center mb-4">
				<input type="checkbox" id="nyhedsbrev" name="nyhedsbrev"></input>
				<label for="nyhedsbrev">Hold dig opdateret vha. vores nyhedsbrev!</label>
				</div>
				
				<Button variant="primary" size="small"><input type="submit" value="Fortsæt"></Button>
			</form>
		</section>
	</article>
</MainLayout>

<script>
	// Quantity adjustment setup
document.addEventListener('DOMContentLoaded', () => {
      const decrementButton = document.querySelector('#modifier_left');
      const incrementButton = document.querySelector('#modifier_right');
      const quantityInput = document.querySelector('#antal') as HTMLInputElement;

      let value = 1;

      function updateQuantity() {
        quantityInput.value = value.toString(); // Convert value to string
      }

      decrementButton.addEventListener("click", () => {
		event.preventDefault(); // Forhindrer standardformularhandling
        value = Math.max(1, value - 1);
        updateQuantity();
      });

      incrementButton.addEventListener("click", () => {
		event.preventDefault();
        value += 1;
        updateQuantity();
      });

      updateQuantity();
    });
</script>