---
// Henter parametrene fra Astro.props
const { variant= "primary", size = "medium" } = Astro.props; 

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper
const buttonStyling = "rounded border-[1.5px] duration-300 ease-in-out"; 

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
"primary": "bg-transparent text-stone-900 border-stone-700 hover:bg-red-200 hover:text-stone-900 hover:border-red-200"
};

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige og størrelser.
const sizeClasses = {
"large": "px-12 py-6 text-xl",
"medium": "px-10 py-4 text-lg",
"small": "px-8 py-2 text-base"
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class="mb-2 lg:mb-6 lg:float-right" class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot/></button>