---

---
<div class="flex justify-between items-center mx-4 py-4 relative">
    <!--   md:w-32 md:mx-16 md:bg-green-400 lg:bg-red-300 -->
    <a href="/" class="active">Logo'et</a>
    
         <!-- "Hamburger menu" -->
    <div class="w-8 cursor-pointer space-y-1 lg:hidden" id="burger">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7 text-slate-900">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
    </div>
    
    <!-- Navigation links -->
    <nav class="hidden absolute top-12 w-full left-0 flex-col lg:flex lg:static lg:bg-transparent" id="menu">
        <ul class="list-none lg:flex lg:flex-row">
            <li class="my-2">
                    <a href="#id" class=" text-black px-14 py-16 rounded no-underline text-base hover:bg-gray-100 hover:underline">Nav 1</a>
            </li>
            <li class="my-2">
                    <a href="#" class=" text-black px-14 py-16 rounded no-underline text-base hover:bg-gray-100 hover:underline">Nav 2</a>
            </li>
            <li class="my-2">
                    <a href="#" class=" text-black px-14 py-16 rounded no-underline text-base  hover:bg-gray-100 hover:underline">Nav 3</a>
            </li>
            <li class="my-2">
                    <a href="#" class=" text-black px-14 py-16 rounded no-underline text-base hover:bg-gray-100 hover:underline">Nav 4</a>
            </li>
        </ul>
    </nav>
</div>

<script>
    const burger = document.getElementById('burger');
    const menu = document.getElementById('menu');

    burger.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>