---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant="textlink", size="standard"} = Astro.props;

//Alle knapper
const linkStyling = "transition-colors duration-500 no-underline text-stone-900"; 

//Forskellige knapper (farver o.lign.)
const variantClasses = {
"textlink":"hover:underline",
"secondary": "bg-red-200 hover:bg-red100 hover:text-stone-900 rounded",
"primary": "relative transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-red-900 before:origin-center before:h-[3px] before:w-0 hover:before:w-[30%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-pink-900 after:origin-center after:h-[3px] after:w-0 hover:after:w-[30%] after:bottom-0 after:right-[50%]"
// Animation fra: https://tailwindflex.com/@cagarcia2011/underline-hover-effect af Carlos Adrian Garcia
};

//Forskellige størrelser
const sizeClasses = {
"large": "px-12 py-6 text-lg",
"medium": "px-10 py-4 text-base",
"small": "px-8 py-2 text-sm",
"standard":""
};
---
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant],
sizeClasses[size]]}><slot /></a>
