---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
import 'animate.css';
const { title } = Astro.props;
---
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<header class="bg-stone-100 sticky top-0 z-50">
			<Header></Header>
		</header>
		
		<main class="bg-stone-50">
			<slot/>
		</main>

		<footer class="pb-1.5 bg-stone-100">
			<Footer></Footer>
		</footer>
	</body>
</html>